.history {
  background-color: #f5ede7;
  padding-top: 15px;
}
.history__block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  padding: 24px;
}
.history__content {
  display: flex;
  max-width: 516px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.history__image {
  display: flex;
  width: 100%;
}
.history__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.history__text {
  margin-top: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
}
