.pasty {
  background-color: #ffc3a0;
  padding: 25px 0;
}
.pasty_kits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.first_column {
  display: flex;
  flex-direction: column;
  max-width: 445px;
}
.pasty__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 90px;
  color: #000000;
}

.pasty__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.sub_pasty {
  widows: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 18px 24px 18px;
}

.fcarousel {
  display: flex;
  justify-content: center;
  max-width: 805px;
   
}

.carouselImg {
  width: 100%;
  padding-top: 20px;
  
  }

.backp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:auto;
  font-size: 17px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  border: 0px;
  opacity: .85;
  background-color: white;
}

.forwardp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:auto;
  font-size: 17px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  border: 0px;
  opacity: .85;
  background-color: white;
}

@media (min-width: 990px) {
  .backp {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin:auto;
      font-size: 45px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      border: 0px;
      opacity: .85;
      color:white;
      background-color: transparent;
  }
}

@media (min-width: 990px) {
  .forwardp {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin:auto;
      font-size: 45px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      border: 0px;
      opacity: .85;
      color:white;
      background-color: transparent;
  }
}


